.btn.btn-default
  = link_to "Nuevo procedimiento", new_procedure_path
  %br

.container
  .row
    %table.index-table
      %thead.head_table
        %tr
          %th id
          %th name
          %th creator
          %th version
        %tbody.tbody-border
          - @user.each do |procedure|
          %tr
            %td procedure.id
            %td procedure.name
            %td procedure.creator_user_id
            %td procedure.version
            %td
              = link_to 'Ver', procedure_path(procedure)
              = link_to 'Editar', edit_procedure_path(procedure)
              = link_to 'Borrar', procedure_path(procedure), |
                method: :delete,                             |
                data: { confirm: 'Eliminar?' }               |