%li
  %th 
    = link_to "Return to Procedures", procedure_catalogs_path
%li
  %th Name:
  = @procedure.name
%li
  %th Creator User:
  = @procedure.creator_user_id
%li
  %th Version:
  = @procedure.version