.container-fluid
  .row
    .col-12
      #acordion
        .card
          #headingOne.card-header
            %h5.mb-0
              %button.btn.btn-link{ data: { toggle: "collapse", target: "#collapseOne" }, aria: { expanded: "true", controls: "collapseOne" } }
                Historial de Mensajes
          #collapseOne.collapse{ aria: { labelledby: "headingOne" }, data: { parent: "#accordion" } }
            .card-body
              .row
                - @previous_messages.each do |message|
                  .col-12.col-md-3
                    - message.evidences.each do |evidence|
                      = link_to evidence.file.url do
                        = image_tag evidence.file.url, class: "img-thumbnail mx-auto"
                    %strong= message.created_at.strftime("%l:%M %P - %d/%b/%Y")
                    %p= message.message