.nested-fields
  .field
    = f.hidden_field :user_id, value: current_user.id
    = f.label :groups_id
    = f.select :groups, @groups.collect { |g| [g.name, g.id] }, {prompt: 'Select Group'}
  = link_to_remove_association "remove group", f