<div class="btn btn-default">
  <%= link_to "Nuevo Usuario", new_user_path %><br>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Registro</th>
          <th>Nombre(s)</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>E-mail</th>
          <th>Estatus</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><% user.id %></td>
            <td><% user.names %></td>
            <td><% user.father_last_name %></td>
            <td><% user.mother_last_name %></td>
            <td><% user.email%></td>
            <td>activo</td>
            <td>acciones</td>
            <td><%= link_to 'Ver', user_path(user) %></td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <td><%= link_to 'Borrar', user_path(user),
                method: :delete,
                data: { confirm: '¿Eliminar?'} %></td>
          </tr>
        <% end %>
       </tbody>
    </table>
  </div>
</div>

