.row
  .col-3
    .nav.flex-column.nav-pills#v-pills-tab{ role: "tablist", "aria-orientation" => "vertical" }
      %a.nav-link.active{ id: "v-pills-bar-tab", "data-toggle" => "pill", href: "#v-pills-bar", role: "tab", "aria-controls" => "v-pills-bar", "aria-selected" => "true" } Barras
      %a#v-pills-details-tab.nav-link{"aria-controls" => "v-pills-details", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-details", :role => "tab"} Detalles

  .col-9
    #v-pills-tabContent.tab-content
      #v-pills-bar.tab-pane.fade.show.active{ "aria-labelledby" => "v-pills-bar-tab", :role => "tabpanel"}
        = segment_bar_chart(candidacy)
      #v-pills-details.tab-pane.fade{"aria-labelledby" => "v-pills-details-tab", :role => "tabpanel"}
        .row
          - candidacy.candidates.each do |candidate|
            .col-12
              %span.badge.badge-info
                = candidate.political_candidacy.votes.sum(:votes_count)
                = fa_icon("address-card")
              = candidate.name
              