.row.mb-4
  .col-3
    .nav.flex-column.nav-pills#v-pills-tab{ role: "tablist", "aria-orientation" => "vertical" }
      %a.nav-link.active{ id: "v-pills-bar-global-tab", "data-toggle" => "pill", href: "#v-pills-bar-global", role: "tab", "aria-controls" => "v-pills-bar-global", "aria-selected" => "true" } Barras
      %a.nav-link{ "aria-controls" => "v-pills-details-global", "aria-selected" => "false", "data-toggle" => "pill", :href => "#v-pills-details-global", :role => "tab", :id => "v-pills-details-global-tab" } Detalles

  .col-9
    #v-pills-tabContent.tab-content
      .tab-pane.fade.show.active{ "aria-labelledby" => "v-pills-bar-global-tab", :role => "tabpanel", id: "v-pills-bar-global"}
        = global_presidential_bar_chart
      .tab-pane.fade{"aria-labelledby" => "v-pills-details-global-tab", :role => "tabpanel", :id => "v-pills-details-global"}
        .row
          - presidential_candidacy.candidates.each do |candidate|
            .col-12
              %span.badge.badge-info
                = candidate.political_candidacy.votes.sum(:votes_count)
                = fa_icon("address-card")
              = candidate.name
