.card.w-100
  .card-header
    %h4.mb-0 Últimos Mensajes
  %ul.list-group.list-group-flush
    - @last_segment_messages.each do |message|
      %li.list-group-item
        = link_to segment_users_path(root_segment) do
          .row
            .col
              = message.user.full_name
            .col-2
              %span.badge.badge-warning
                = fa_icon("comment")
                = message.user.messages.count
