.overflow-scroll-container.h-100#dashboard-container
  .container-fluid.mt-3
    .row
      .col-12.col-md-6
        = render "presidential_candidacy_chart"
      .col-12.col-md-6
        = render "captured_processes"
