@import "colors";

.btn {
  &:focus{
    box-shadow: none !important;
  }
}

.btn-group {
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-green {
  color: white;
  &:hover {
    color: white;
    background-color: $system-dark-green;
  }
}

.btn-green-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  text-decoration: none !important;
  color: $system-green;
  padding: 1em 1.5em;
}
.table-dropdown-menu {
  border: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
  -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
  box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
}
#dropdown-menu-link {
  padding: 1em 1.5em;
}
