$alice-blue: #F8FAFB;
$pattens-blue: #DDE5EA;
$link-water: #C9D2D7;
$pattens-blue2: #D4DDE3;
$echo-blue: #A6B5CB;
$hit-grey: #99A5A6;

// Monochrom 1 based in the PV light green logo
$green-monochrom-1: #d4dd93;
$green-monochrom-2: #92F46D;
$green-monochrom-3: #CFF4EB;
$green-monochrom-4: #31F4C3;
$green-monochrom-5: #249ABB;

$system-dark-green: #22632c;
$system-dark-green-transparent: rgba(34,99,44, 0.2);
$system-green: rgb(71, 128, 54);
$system-mid-green: rgb(179, 199, 109);
$system-light-green: $green-monochrom-1;
$system-yellow: rgb(246, 218, 49);
$system-red: rgb(212, 54, 68);
$system-white: rgb(254, 253, 251);
$system-grey: rgb(150, 167, 175);
$system-dark-blue: rgb(52, 73, 94);

$login-box-white: $system-white;
$login-box-green: $system-green;
$login-box-grey: $system-grey;
$login-box-dark-blue: $system-dark-blue;
$login-box-light-green: #19FF7A;
$login-box-light-blue: #47637F;

$login-box-submit-btn: $login-box-dark-blue;
$login-box-submit-btn-hover: $login-box-green;
$login-box-body-background: $system-mid-green;
$login-box-header-background: $login-box-green;
$login-input-label: $login-box-grey;


