$alice-blue: #F8FAFB;
$pattens-blue: #DDE5EA;
$link-water: #C9D2D7;
$pattens-blue2: #D4DDE3;
$echo-blue: #A6B5CB;
$hit-grey: #99A5A6;


$login-box-white: rgb(254, 253, 251);
$login-box-green: rgb(45, 204, 112);
$login-box-grey: rgb(150, 167, 175);
$login-box-dark-blue: rgb(52, 73, 94);
$login-box-light-green: #19FF7A;
$login-box-light-blue: #47637F;

$login-box-submit-btn: $login-box-dark-blue;
$login-box-submit-btn-hover: $login-box-green;
$login-box-body-background: $login-box-dark-blue;
$login-box-header-background: $login-box-green;
$login-input-label: $login-box-grey;