// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "bootstrap";

@mixin sidebar-transition {
  -webkit-transition: 0.13s ease;
  -moz-transition: 0.13s ease;
  -ms-transition: 0.13s ease;
  -o-transition: 0.13s ease;
  transition: 0.13s ease;
}
@mixin fading-transition($time) {
  -webkit-transition: $time ease;
  -moz-transition: $time ease;
  -ms-transition: $time ease;
  -o-transition: $time ease;
  transition: $time ease;
}

#header-container {
  border-bottom: 1px solid rgba(153,165,166, 0.3);
  height: 7%;
  //min-height: 10%;
  //height: 10%;
  #header-row {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #session-links-container {
    justify-content: flex-end;
  }
  .session-link {
    margin-left: 10px;
  }
  .user-avatar {
    width: 40px;
  }
  .menu-button {
    background-color: transparent;
    border: 1px solid rgba(153,165,166, 0.3);
    @include sidebar-transition;
    &:hover { background-color: $pattens-blue }
    i { color: $echo-blue }
  }
}

body, html {
  height: 100%;
  min-height: 100%;
}

#body-container {
  @include media-breakpoint-up(md) { height: 93%; }
  min-height: 90%;
  //height: 90%;
  background-color: $pattens-blue;
  #left-sidebar, #right-sidebar{
    display: inline;
    position: absolute;
    height: 100%;
    @include sidebar-transition;
  }
  #left-sidebar {
    left:-150px;
    width: 10%;
    min-width: 200px;
    &:hover {
      left: 0;
    }
    &.show-sidebar {
      left: 0;
    }
  }

  #content {
    padding: 0;
    height: 100%;
    //@include media-breakpoint-down(sm) { padding: 0; }
    //width: 60%;
  }
  #right-sidebar {
    right:  0;
    width: 10%;
    visibility: hidden;
    &.show-right-sidebar {
      visibility: visible;
    }
  }
}

.sidebar-container {
  background-color: $alice-blue;
  #left-sidebar-content, #right-sidebar-content {
    height: 100%;
    width: 100%;
  }
  .menu-icon-container {
    width: 50px;
    display: flex;
    justify-content: center;
    i {
      line-height: 50px;
      color: $echo-blue;
    }
  }
  .menu-row {
    height: 50px;
    display: flex;
    cursor: pointer;
    &:hover { background-color: $link-water }
  }
  .sidebar-link { line-height: 50px; }
  .menu-link-container {
    flex-grow: 1;
    padding-left: 10px;
    a {
      display: block;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: $echo-blue;
    }
  }
}

#left-sidebar-content {
  
}
#right-sidebar-content {
  
}


.inline-block { display: inline-block }
.line-height-100 { height: 100% }
.height-100 { height: 100% }
.text-line { line-height: 100% }

.element-flex-box {
  display: flex;
  align-items: center;
  height: 100%;
}

.alert { margin-bottom: 0 !important }

#masquerade {
  width: 100%;
  background-color: #f5f5f5;
  .masquerade-message {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 11px;
  }
}

#login-wrapper {
  height: 100%;
  #login-box {
    @include media-breakpoint-up(md) {
      border-radius: 8px;
      width: 30%;
      -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
    }
  }

  #login-box-header{
    #login-box-header-text { color: $login-box-white; padding: 0 8px; margin:0; }
    @include media-breakpoint-up(md) {
      padding: 10px;
      height: 200px;
      border: 1px solid $login-box-header-background;
      border-radius: 8px 8px 0 0;
      background-color: $login-box-header-background;
    }
  }

  #login-box-body{
    @include media-breakpoint-up(md) {
      padding: 10px;
      border-radius: 0 0 8px 8px;
      border: 1px solid $login-box-body-background;
      background-color: $login-box-body-background;
      .field {
        margin-bottom: 20px;
        &:last-child { margin-bottom: 0; }
      }
    }
  }

  label {
    color: $login-input-label;
  }

  input[type="email"], input[type="password"] {
    border: none;
    background-color: $login-box-body-background;
    border-bottom: 1px solid  $login-box-body-background;
    width: 100%;
    border-radius: 4px 4px 0 0;
    color: $login-box-white;
    @include fading-transition(0.12s);
    &:focus {
      outline: none;
      border: none;
      box-shadow:none !important;
      border-bottom: 1px solid $login-box-green;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $login-box-grey;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $login-box-grey;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $login-box-grey;
    }
  }
  // Custom checkbox
  .custom-checkbox {
    padding:0;
    .custom-control-input:checked ~ .custom-control-indicator{
      background-color: $login-box-green;
    }
    .custom-control-description {
      padding-left: 20px;
    }
  }
  // we add this for the form to allow the absolute button to fix to the content
  form { position: relative; }
  #submit-login-btn {
    @include media-breakpoint-up(md) {
      width: 70px;
      height: 70px;
      -moz-border-radius: 35px;
      -webkit-border-radius: 35px;
      border-radius: 40px;
      -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      cursor: pointer;
      background-color: $login-box-submit-btn;
      border: 5px solid $login-box-green;
      color: $login-box-green;
      font-size: 20px;
      position: absolute;
      bottom: -35px;
      right: -34px;
      overflow: hidden;
      @include fading-transition(0.1s);
      span { display: none; color: $login-box-dark-blue;  }
      &:hover {
        background-color: $login-box-submit-btn-hover;
        color: $login-box-dark-blue;
        width: 180px;
        span { display: inline; }
      }
    }
  }
}
