// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "bootstrap";

@mixin sidebar-transition {
  -webkit-transition: 0.13s ease;
  -moz-transition: 0.13s ease;
  -ms-transition: 0.13s ease;
  -o-transition: 0.13s ease;
  transition: 0.13s ease;
}
@mixin fading-transition($time) {
  -webkit-transition: $time ease;
  -moz-transition: $time ease;
  -ms-transition: $time ease;
  -o-transition: $time ease;
  transition: $time ease;
}

$left-menu-hidden-width: 50px;
$left-menu-width: 200px;
$left-menu-row-height: 50px;
$top-menu-row-height: 50px;

body, html {
  height: 100%;
  min-height: 100%;
}

#header {
  width: 0%;
  height: 0px;
  visibility: none;
  width: 100%;
  @include media-breakpoint-down(sm) {
    background-color: $system-dark-green;
    visibility: visible; 
    height: $top-menu-row-height;
    -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
  }
  .menu-button {
    border-radius:0;
    visibility: none;
    display: none;
    &:focus {
      outline: none;
      border: none;
      box-shadow:none !important;
    }
    @include media-breakpoint-down(sm) {
      visibility: visible;
      height: 50px;
      display: inline-block;
    }
  }
}

#body-container {
  height: 100%;
  //height: 90%;
  background-color: #fff;

  #content, #content-with-menu {
    padding: 0;
    height: 100%;
  }
  // reduce height when top menu is present
  #content-with-menu {
    @include media-breakpoint-down(sm) {
      height: calc(100% - 50px);
    }
  }

  #content-with-menu {
    @include media-breakpoint-up(md) { padding-left: 50px; }
  }
}

.sidebar-container {
  background-color: $system-green	;
  @include media-breakpoint-down(md) {
    width: 0px;
    overflow: hidden;
    z-index: 999;
  }
  @include media-breakpoint-up(md) {
    width: $left-menu-hidden-width;
    overflow: hidden;
    z-index: 999;
    &:hover {
      width: 200px;
    }
  }

  &#left-sidebar, &#right-sidebar{
    display: inline;
    position: absolute;
    height: 100%;
    @include media-breakpoint-down(sm) {
      height: calc(100% - 50px);
    }
    @include sidebar-transition;
  }
  .menu-row {
    cursor: pointer;
    height: $left-menu-hidden-width;
    text-decoration: none;
    i, span { line-height: $left-menu-row-height; color: $system-white; }
    i { width: $left-menu-hidden-width;  font-size: 1.5em; text-align: center; }
    span {
      font-size: 14px;
      flex-grow: 1;
      text-align: left; 
      //font-family: courier, serif; 
      vertical-align: baseline;
    }
    &:hover {
      background-color: $system-dark-green;
      span, i{ color: white; }
    }
  }
  .profile-row { height: 75px; }
  #left-sidebar-content, #right-sidebar-content {
    width: $left-menu-width;
    height: 100%;
  }
}

.show-sidebar {
  width: 200px
}

.inline-block { display: inline-block }
.line-height-100 { height: 100% }
.height-100 { height: 100% }
.text-line { line-height: 100% }

.element-flex-box {
  display: flex;
  align-items: center;
  height: 100%;
}

.alert { margin-bottom: 0 !important }

#masquerade {
  width: 100%;
  background-color: #f5f5f5;
  .masquerade-message {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 11px;
  }
}

#login-wrapper {
  height: 100%;
  position:relative;
  #login-box {
    @include media-breakpoint-up(sm) {
      border-radius: 8px;
      width: 30%;
      -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100%
    }
  }

  #login-box-header{
    #login-box-header-text { color: $login-box-white; margin:0; }
    @include media-breakpoint-up(sm) {
      padding: 10px;
      height: 200px;
      border: 1px solid $login-box-header-background;
      border-radius: 8px 8px 0 0;
      background-color: $login-box-header-background;
    }
    @include media-breakpoint-down(sm) { 
      width: 100%;
      height: 35%;
      background-color: $login-box-header-background;
    }
  }

  #login-box-body{
    @include media-breakpoint-up(sm) {
      padding: 10px;
      border-radius: 0 0 8px 8px;
      border: 1px solid $login-box-body-background;
      background-color: $login-box-body-background;
      .field {
        margin-bottom: 20px;
        &:last-child { margin-bottom: 0; }
      }
    }
    @include media-breakpoint-down(sm) { 
      width: 100%;
      height: 50%;
      background-color: $login-box-body-background;
      .field {
        &:last-child { margin-bottom: 10; }
      }
    }
  }

  label {
    color: $login-input-label;
  }

  input[type="email"], input[type="password"], input[type="text"] {
    @include media-breakpoint-down(sm) { font-size: 1.2em; }
    font-size: 1.5em;
    border: none;
    background-color: $login-box-body-background;
    border-bottom: 1px solid  $system-dark-green;
    width: 100%;
    border-radius: 4px 4px 0 0;
    color: $system-dark-green !important;
    @include fading-transition(0.12s);
    &::placeholder { color: $system-dark-green !important; }
    &:-ms-input-placeholder { color: $system-dark-green !important; }
    &::-ms-input-placeholder { color: $system-dark-green !important; }
    &:focus {
      outline: none;
      border: none;
      box-shadow: none !important;
      border-bottom: 1px solid $login-box-green;
    }
    &:valid {
      color: $login-box-white;
      background-color: $login-box-body-background;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: $login-box-grey; opacity: 1; /* Firefox */ }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: $login-box-grey; }
    &::-ms-input-placeholder { /* Microsoft Edge */ color: $login-box-grey; }
  }
  // Custom checkbox
  .custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $system-dark-green;
  }

  /* Hide the browser's default checkbox */
  .custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
  }

  /* When the checkbox is checked, add a blue background */
  .custom-checkbox-container input:checked ~ .checkmark {
    background-color: $system-dark-green;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .custom-checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .custom-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  // we add this for the form to allow the absolute button to fix to the content
  form { 
    position: relative;
    height: 100%;
    align-content: center;
  }
  #submit-login-btn {
    @include media-breakpoint-up(md) {
      width: 70px;
      height: 70px;
      -moz-border-radius: 35px;
      -webkit-border-radius: 35px;
      border-radius: 40px;
      -webkit-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      box-shadow: -1px 4px 17px -1px rgba(0,0,0,0.47);
      cursor: pointer;
      background-color: $system-mid-green;
      border: 5px solid $login-box-green;
      color: $login-box-green;
      font-size: 20px;
      position: absolute;
      bottom: -35px;
      right: -34px;
      overflow: hidden;
      @include fading-transition(0.1s);
      span { display: none; color: white;  }
    }
    @include media-breakpoint-down(sm) {
      background-color: $login-box-submit-btn-hover;
      width: 100%;
      height: 15%;
      color:$login-box-dark-blue;
      border-radius: 0px; 
      border: 0px;
    }
    &:hover {
      @include media-breakpoint-up(sm) {
        background-color: $login-box-submit-btn-hover;
        color: white;
        width: 180px;
        span { display: inline; }
      }
    }
  }
}

.close-flash-message {
  &:hover{
    background-color: $system-grey;
    color: white;
    cursor: pointer;
  }
}

.separator {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $system-dark-green-transparent;
}

.one-page-resource-form {
  min-height: 100%;
  padding-top: 1em;
}

