@import "colors";
.pagination-nav {
  height: 100%;
}
.pagination {
  margin: 0;
  height: 100%;
  display: flex;
  li {
    //line-height: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .page-link{
    background-color: $system-green !important;
    color: white !important;
    border: 1px solid $system-green;
    //height: 50px;
    //line-height: 30px !important;
    padding: 1em 1.5em !important;
    border-radius: 0 !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-left:0;
      border-right:0;
      background-color: $system-mid-green !important;
      border: 1px solid $system-mid-green;
    }
  }

  .active .page-link {
    background-color: $system-mid-green !important;
    border: 1px solid $system-mid-green !important;
    color: white !important;
  }

  .disabled .page-link {
    background-color: $system-light-green !important;
    color: gray !important;
  }
}
