// Place all the styles related to the representative_assignations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.representative_assignations_text
  {
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center
  }

.margin_create_user_button {
  margin-right: ($spacer * .25) !important;
}