@import "colors";

.index-table{
  font-size: 12px;
  width: 100%;
  /*margin-bottom: 1rem;*/
  th, td { vertical-align: middle !important; }
  .table-head {}
  .table-body{}
}

.btn-group{
  .dropdown-item{
    font-size: 85%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  }
}

.flex-table-wrapper-parent {
  height:100%;
}

.flex-table-wrapper {
  height: 92%;
}

.index-table-actions {

}

.index-table-wrapper {

}

.index-table-pagination-wrapper {
  height: 8%;
}