@import "colors";
tbody tr:first-child td {
  border-top: none;
}

.index-table{
  font-size: 70%;
  width: 100%;
  vertical-align: middle;
  /*margin-bottom: 1rem;*/
  th, td {
    vertical-align: middle;
    padding: 10px;
  }
}

.head-table {
  background-color: $pattens-blue2;
  th {
    background: none;
    color: gray;
  }
}

.tbody-border{
  tr{
    border-bottom: 2px solid #e9ecef;
  }
}