// Place all the styles related to the TaskCatalogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.estilo {
  
  background-color: $system-green;
}
