// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
$actions-bar-height: 48px;

#users-index {
  width: 100%;
  height: 100%;
  @include media-breakpoint-down(sm) {
    
  }
}

#users-index #users-list {
  width: 30%;
  height: 100%;
  .users-list-row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: black;
    &:hover{ background-color: $pattens-blue; }
    .image-wrapper{
      @include media-breakpoint-down(sm) {
        height: 4em;
      }
    }
    img {
      border: 1px solid $system-dark-green-transparent;
      width: 100%;
      height: 100%;
      @include media-breakpoint-down(sm) {
        width: 4em;
        margin: auto;
        display: block;
      }
    }
    &.active, .ui-selected {
      border: 2px solid $system-dark-green-transparent;
      background-color: $system-light-green;
    }
  }
}

#users-index #user-info {
  width: 70%;
  height: 100%;
  border-left: 1px solid $system-dark-green-transparent;
  overflow-y: scroll;
}

#users-index-actions, #users-index-breadcrumbs {
  border-bottom: 1px solid $system-dark-green-transparent;
}

#users-index-actions {
  height: 48px;
  @include media-breakpoint-down(sm) { }
}

#users-index-breadcrumbs {
  height: 10%;
}

#users-index-content {
  height: calc(100% - 48px);
  & > .row {
    height: 100%;
  }
}

.index-table-pagination-wrapper {
  height: 8%;
}

// User index table form

#user-form-content {
  padding-top: 1em;
  #groups { border-top: 1px solid $system-dark-green-transparent; padding-top: 1em;}
  select { height: 50px; }
  .remove-group-link-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .group-select-wrapper {
    margin-bottom: 1em;
  }
}
#user-profile, #user-profile form {
  min-height: 100%;
}

#user-profile {
  height: 100%;
  overflow-y: scroll;
}

#user-profile-info, #user-profile-tabs {
  min-height: 100%;
}

#user-profile-tabs .nav{
  padding: 1em 0;
}

#user_search {

}

.users-search-form {
  height: 100%;
  .input-group {
    height: 100%;
  }
  input {
    border-radius: 0;
    border: none;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none !important;
      border-bottom: 1px solid $login-box-green;
    }
  }
}
#users-index-actions-btn {

}

#users-list {
  overflow-y: scroll;
}

