- if flash.present?
  .row
    - flash.each do |name, msg|
      - if name === "notice" || name === "info"
        .col.marginless
          .alert(class="alert-info")= msg
      - elsif name === "success"
        .col.marginless
          .alert(class="alert-success")= msg
      - elsif name === "alert" || name === "warning"
        .col.marginless
          .alert(class="alert-warning")= msg
      - elsif name === "error" || name === "danger"
        .col.marginless
          .alert(class="alert-danger")= msg