%nav#header
  - if current_user.accepted_disclaimer?
    - if !current_user.only_common?
      = link_to "#", class: "btn btn-secondary menu-button", id: "open-hide" do
        %i.fa.fa-bars.fa-2x.menu-icon

    = link_to "#", class: "btn btn-secondary pull-right d-block d-md-none bg-primary", id: "open-messages-button-mobile" do
      = fa_icon("comment")
  