%nav#header
  = link_to "#", class: "btn btn-secondary menu-button", id: "open-hide" do
    %i.fa.fa-bars.fa-2x.menu-icon

  = link_to "#", class: "btn btn-secondary pull-right d-block d-md-none", id: "open-messages-button-mobile" do
    = fa_icon("comment")
    %span 0
  