#left-sidebar-content
  .container-fluid
    .menu-row.row
      .col
        fdsfdsa
    .menu-row.row
      .col
        gfdsgfds
    .menu-row.row
      .col
        gfdgfds
    .menu-row.row
      .col
        gfdsgfds
    .menu-row.row
      .col
        gfdgfds
    